In [3]:
import glob
import re

for archivo in glob.glob("*df_final_demo.txt"):
    with open(archivo, "r", encoding="utf-8") as f:
        lineas = f.readlines()

    nuevo = archivo.replace(".txt", ".csv")
    with open(nuevo, "w", encoding="utf-8") as f:
        for linea in lineas:
            linea = linea.strip()
            linea = re.sub(r"\s+", ",", linea)
            f.write(linea + "\n")

    print(f"{nuevo} creado")

df_final_demo.csv creado

In [4]:
import pandas as pd

# Leer el archivo CSV
df_final_demo = pd.read_csv("df_final_demo.csv")

# Mostrar las primeras filas
print(df_final_demo.head())

pd.options.display.float_format = '{:,.0f}'.format

   client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976             6.0              73.0      60.5     U        2.0
1    2304905             7.0              94.0      58.0     U        2.0
2    1439522             5.0              64.0      32.0     U        2.0
3    1562045            16.0             198.0      49.0     M        2.0
4    5126305            12.0             145.0      33.0     F        2.0

         bal  calls_6_mnth  logons_6_mnth
0   45105.30           6.0            9.0
1  110860.30           6.0            9.0
2   52467.79           6.0            9.0
3   67454.65           3.0            6.0
4  103671.75           0.0            3.0

In [5]:
df_final_demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [6]:
df_final_demo.value_counts

<bound method DataFrame.value_counts of        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0         836976               6                73        60     U          2
1        2304905               7                94        58     U          2
2        1439522               5                64        32     U          2
3        1562045              16               198        49     M          2
4        5126305              12               145        33     F          2
...          ...             ...               ...       ...   ...        ...
70604    7993686               4                56        38     U          3
70605    8981690              12               148        31     M          2
70606     333913              16               198        62     F          2
70607    1573142              21               255        68     M          3
70608    5602139              21               254        60     F          3

            bal  calls_6_mnth  logons_6_mnth
0        45,105             6              9
1       110,860             6              9
2        52,468             6              9
3        67,455             3              6
4       103,672             0              3
...         ...           ...            ...
70604 1,411,063             5              5
70605   101,867             6              6
70606    40,745             3              3
70607   475,115             4              4
70608   157,499             7              7

[70609 rows x 9 columns]>

In [7]:
# Check de nulos
print(df_final_demo.isnull().sum())

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [8]:
# Eliminar la fila donde hay nulos
df_final_demo = df_final_demo.dropna(subset=['clnt_tenure_yr'])
print(df_final_demo.isnull().sum())
# los X en gendr cambiarlo por U
df_final_demo = pd.read_csv("df_final_demo.csv")
df_final_demo['gendr'] = df_final_demo['gendr'].replace('X', 'U')
print(df_final_demo['gendr'].value_counts())
#sustituir el valor en el excel y reescribir el mismo csv sin errores
df_final_demo.to_csv("df_final_demo.csv", index=False)

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            1
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64
gendr
U    24125
M    23724
F    22746
Name: count, dtype: int64

In [9]:
# Ver valores de df
print(df_final_demo.describe())

       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age  num_accts  \
count     70,609          70,595            70,595    70,594     70,595
mean   5,004,992              12               151        46          2
std    2,877,278               7                82        16          1
min          169               2                33        14          1
25%    2,519,329               6                82        32          2
50%    5,016,978              11               136        47          2
75%    7,483,085              16               192        59          2
max    9,999,839              62               749        96          8

             bal  calls_6_mnth  logons_6_mnth
count     70,595        70,595         70,595
mean     147,445             3              6
std      301,509             2              2
min       13,789             0              1
25%       37,347             1              4
50%       63,333             3              5
75%      137,545             6              7
max   16,320,040             7              9

In [8]:
# los X en gendr cambiarlo por U
df_final_demo = pd.read_csv("df_final_demo.csv")
df_final_demo['gendr'] = df_final_demo['gendr'].replace('X', 'U')
print(df_final_demo['gendr'].value_counts())
#sustituir el valor en el excel y reescribir el mismo csv sin errores
df_final_demo.to_csv("df_final_demo.csv", index=False)

gendr
U    24125
M    23724
F    22746
Name: count, dtype: int64

In [9]:
import glob
import re

for archivo in glob.glob("*df_final_experiment_clients.txt"):
    with open(archivo, "r", encoding="utf-8") as f:
        lineas = f.readlines()

    nuevo = archivo.replace(".txt", ".csv")
    with open(nuevo, "w", encoding="utf-8") as f:
        for linea in lineas:
            linea = linea.strip()
            linea = re.sub(r"\s+", ",", linea)
            f.write(linea + "\n")

    print(f"{nuevo} creado")

df_final_experiment_clients.csv creado

In [10]:
import pandas as pd

# Leer el archivo CSV
df_final_experiment_clients = pd.read_csv("df_final_experiment_clients.csv")

# Mostrar las primeras filas
print(df_final_experiment_clients.head())

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [11]:
#recuento por Variation de todos los registros test, control y na
# Contar todos los valores, incluyendo NaN
print(df_final_experiment_clients['Variation'].value_counts(dropna=False))

Variation
Test       26968
Control    23532
NaN        20109
Name: count, dtype: int64

In [12]:
# IDs duplicados (solo los valores duplicados, sin repetirlos)
ids_duplicados = df_final_experiment_clients['client_id'][df_final_experiment_clients['client_id'].duplicated()].unique()
print(ids_duplicados)

[]

In [13]:
import glob
import re

for archivo in glob.glob("*df_final_web_data_pt_1.txt"):
    with open(archivo, "r", encoding="utf-8") as f:
        lineas = f.readlines()

    nuevo = archivo.replace(".txt", ".csv")
    with open(nuevo, "w", encoding="utf-8") as f:
        for linea in lineas:
            linea = linea.strip()
            linea = re.sub(r"\s+", ",", linea)
            f.write(linea + "\n")

    print(f"{nuevo} creado")

df_final_web_data_pt_1.csv creado

In [14]:
# Creamos df pt1
import glob
import re

for archivo in glob.glob("*df_final_web_data_pt_2.txt"):
    with open(archivo, "r", encoding="utf-8") as f:
        lineas = f.readlines()

    nuevo = archivo.replace(".txt", ".csv")
    with open(nuevo, "w", encoding="utf-8") as f:
        for linea in lineas:
            linea = linea.strip()
            linea = re.sub(r"\s+", ",", linea)
            f.write(linea + "\n")

    print(f"{nuevo} creado")

df_final_web_data_pt_2.csv creado

In [15]:
# Creamos df pt2
import pandas as pd
# 1) Leer bien (date y time vienen separados por la coma)
cols = ["client_id", "visitor_id", "visit_id", "process_step", "date", "time"]
df1 = pd.read_csv("df_final_web_data_pt_1.csv", header=0, names=cols)
df2 = pd.read_csv("df_final_web_data_pt_2.csv", header=0, names=cols)
# 2) Combinar SIN perder columnas (une el set de columnas automáticamente)
df_web = pd.concat([df1, df2], ignore_index=True, sort=False)
# 3) (Opcional pero recomendado) reconstruir date_time y limpiar
df_web["date_time"] = pd.to_datetime(df_web["date"] + " " + df_web["time"], errors="coerce")
df_web = df_web.drop(columns=["date", "time"])
print(df_web.shape)
print(df_web.columns)
#4) Grabarlo
df_web.to_csv("df_final_web_data.csv", index=False)

(755405, 5)
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [16]:
# Check para ver que el número de rows de pt1, pt2 y del web final coinciden
import pandas as pd
df_pt1 = pd.read_csv("df_final_web_data_pt_1.csv")
df_pt2 = pd.read_csv("df_final_web_data_pt_2.csv")
df_web = pd.read_csv("df_final_web_data.csv")
print("Número de filas en df_final_web_data_pt_1.csv:", len(df_pt1))
print("Número de filas en df_final_web_data_pt_2.csv:", len(df_pt2))
print("Número de filas en df_final_web_data.csv:", len(df_web))

Número de filas en df_final_web_data_pt_1.csv: 343141
Número de filas en df_final_web_data_pt_2.csv: 412264
Número de filas en df_final_web_data.csv: 755405

In [17]:
df_web.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [18]:
import pandas as pd

# Leer los CSV
df_final_demo = pd.read_csv("df_final_demo.csv")
df_final_experiment_clients = pd.read_csv("df_final_experiment_clients.csv")

# Unirlos por la columna clients_id
# Cómo unir: 
# - 'inner' → solo los que estén en ambos dataframes
# - 'left' → todos del primer dataframe + coincidencias del segundo
# - 'outer' → todos, rellena con NaN donde no haya coincidencias
df_master = pd.merge(df_final_demo, df_final_experiment_clients, on="client_id", how="inner")

# Guardar el CSV combinado
df_master.to_csv("df_master.csv", index=False)

# Mostrar algunas filas para revisar
print(df_master.head())
print(df_master.tail())

   client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976               6                73        60     U          2
1    2304905               7                94        58     U          2
2    1439522               5                64        32     U          2
3    1562045              16               198        49     M          2
4    5126305              12               145        33     F          2

      bal  calls_6_mnth  logons_6_mnth Variation
0  45,105             6              9      Test
1 110,860             6              9   Control
2  52,468             6              9      Test
3  67,455             3              6      Test
4 103,672             0              3   Control
       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
70604    7993686               4                56        38     U          3
70605    8981690              12               148        31     M          2
70606     333913              16               198        62     F          2
70607    1573142              21               255        68     M          3
70608    5602139              21               254        60     F          3

            bal  calls_6_mnth  logons_6_mnth Variation
70604 1,411,063             5              5       NaN
70605   101,867             6              6       NaN
70606    40,745             3              3       NaN
70607   475,115             4              4       NaN
70608   157,499             7              7       NaN

In [19]:
# ¿Quiénes son los principales clientes que utilizan este proceso en línea?
import pandas as pd
# Cargar el DataFrame maestro
df_master = pd.read_csv("df_master.csv")
# Contar la cantidad de veces que cada client_id aparece en el DataFrame web
df_web = pd.read_csv("df_final_web_data.csv")
client_usage = df_web['client_id'].value_counts().reset_index()
client_usage.columns = ['client_id', 'usage_count']
# Unir con el DataFrame maestro para obtener detalles de los clientes
df_client_usage = pd.merge(df_master, client_usage, on='client_id', how='inner')
# Ordenar por usage_count descendente
df_client_usage = df_client_usage.sort_values(by='usage_count', ascending=False)
print(df_client_usage.head(10))  # Mostrar los 10 principales clientes

C:\Users\pccom\AppData\Local\Temp\ipykernel_34660\290585401.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master.csv")

       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
57699    5574879               9               112        28     M          2
27478    2274658               5                65        34     U          2
68296    2128341              12               153        52     F          2
23329    1595223              23               279        83     M          3
1491     5951379               7                89        27     U          2
8255     1952790              30               361        60     F          4
57617    9800867              22               266        62     U          2
36953    7733877               6                78        54     F          2
22028     465007              14               179        73     M          3
36379    3545814              13               163        59     M          3

            bal  calls_6_mnth  logons_6_mnth Variation  usage_count
57699    18,136             7              7       NaN          111
27478    78,390             6              9   Control           90
68296   176,732             3              3       NaN           84
23329 1,291,698             5              8      Test           81
1491     34,807             6              9   Control           81
8255  1,249,006             5              8   Control           80
57617    24,450             6              6       NaN           75
36953    54,233             3              6   Control           72
22028   126,443             6              9      Test           72
36379 5,754,205             6              9      Test           72

In [20]:
df_client_usage.head(10)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,usage_count
57699,5574879,9,112,28,M,2,"18,136",7,7,NaN,111
27478,2274658,5,65,34,U,2,"78,390",6,9,Control,90
68296,2128341,12,153,52,F,2,"176,732",3,3,NaN,84
23329,1595223,23,279,83,M,3,"1,291,698",5,8,Test,81
1491,5951379,7,89,27,U,2,"34,807",6,9,Control,81
8255,1952790,30,361,60,F,4,"1,249,006",5,8,Control,80
57617,9800867,22,266,62,U,2,"24,450",6,6,NaN,75
36953,7733877,6,78,54,F,2,"54,233",3,6,Control,72
22028,465007,14,179,73,M,3,"126,443",6,9,Test,72
36379,3545814,13,163,59,M,3,"5,754,205",6,9,Test,72

In [21]:
# ¿Los clientes principales son más jóvenes o mayores, nuevos o antiguos?
df_client_usage.head(10).describe().round(2)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth,usage_count
count,10,10,10,10,10,10,10,10,10
mean,"4,102,284",14,174,53,2,"880,810",5,7,82
std,"3,035,563",8,98,19,1,"1,783,865",1,2,12
min,"465,007",5,65,27,2,"18,136",3,3,72
25%,"1,996,678",8,95,39,2,"39,664",5,6,73
50%,"2,910,236",12,158,56,2,"102,416",6,8,80
75%,"5,857,254",20,244,62,3,"980,937",6,9,83
max,"9,800,867",30,361,83,4,"5,754,205",7,9,111

In [22]:
# guardame el df_client_usage a csv con los diez primeros registros
df_client_usage.head(10).to_csv("df_client_usage_head10.csv", index=False, encoding="utf-8")
print("✅ Guardado: df_client_usage_head10.csv (10 filas)")

✅ Guardado: df_client_usage_head10.csv (10 filas)

In [23]:
import pandas as pd
import numpy as np

# =========================
# CONFIG
# =========================
CSV_PATH = "df_client_usage_head10.csv"   # <- cambia si tu archivo se llama distinto
TOP_N = 10

# =========================
# LOAD
# =========================
df_top10 = pd.read_csv(CSV_PATH)

print("✅ Cargado:", CSV_PATH)
print("Shape:", df_top10.shape)
display(df_top10.head())

# =========================
# HELPERS: detectar columnas de uso (calls/logons)
# =========================
cols_lower = {c: c.lower() for c in df_top10.columns}
call_cols = [c for c in df_top10.columns if "call" in cols_lower[c]]
logon_cols = [c for c in df_top10.columns if "logon" in cols_lower[c] or "login" in cols_lower[c]]

# =========================
# CLEAN TYPES
# =========================
# intentamos convertir a numérico las columnas típicas si existen
num_candidates = ["clnt_tenure_yr", "clnt_tenure_mnth", "clnt_age", "num_accts", "bal"] + call_cols + logon_cols
for c in num_candidates:
    if c in df_top10.columns:
        df_top10[c] = pd.to_numeric(df_top10[c], errors="coerce")

# =========================
# OPTIONAL: usage_score (si existen calls y logons)
# =========================
if len(call_cols) > 0 or len(logon_cols) > 0:
    df_top10["usage_score"] = 0
    if len(call_cols) > 0:
        df_top10["usage_score"] += df_top10[call_cols].fillna(0).sum(axis=1)
    if len(logon_cols) > 0:
        df_top10["usage_score"] += df_top10[logon_cols].fillna(0).sum(axis=1)

# =========================
# SEGMENTATION BINS
# =========================
if "clnt_age" in df_top10.columns:
    df_top10["age_group"] = pd.cut(
        df_top10["clnt_age"],
        bins=[0, 30, 40, 50, 60, 120],
        labels=["<=30", "31-40", "41-50", "51-60", "60+"],
        right=True
    )

if "clnt_tenure_yr" in df_top10.columns:
    df_top10["tenure_group"] = pd.cut(
        df_top10["clnt_tenure_yr"],
        bins=[-0.1, 1, 3, 5, 10, 100],
        labels=["<=1y", "1-3y", "3-5y", "5-10y", "10y+"],
        right=True
    )

# =========================
# INSIGHTS: TABLES
# =========================
print("\n=========================")
print("1) DESCRIPTIVOS (NUMÉRICAS)")
print("=========================")

num_cols = [c for c in ["clnt_age", "clnt_tenure_yr", "clnt_tenure_mnth", "num_accts", "bal", "usage_score"] if c in df_top10.columns]
if num_cols:
    desc = df_top10[num_cols].describe().T
    display(desc)
else:
    print("No se encontraron columnas numéricas estándar para describir.")

print("\n=========================")
print("2) DISTRIBUCIÓN (EDAD / TENURE / GÉNERO)")
print("=========================")

if "age_group" in df_top10.columns:
    age_dist = df_top10["age_group"].value_counts(dropna=False)
    age_pct = df_top10["age_group"].value_counts(normalize=True, dropna=False).mul(100).round(1)
    display(pd.DataFrame({"count": age_dist, "pct": age_pct}))
else:
    print("No existe 'clnt_age' para crear age_group.")

if "tenure_group" in df_top10.columns:
    ten_dist = df_top10["tenure_group"].value_counts(dropna=False)
    ten_pct = df_top10["tenure_group"].value_counts(normalize=True, dropna=False).mul(100).round(1)
    display(pd.DataFrame({"count": ten_dist, "pct": ten_pct}))
else:
    print("No existe 'clnt_tenure_yr' para crear tenure_group.")

if "gendr" in df_top10.columns:
    g_dist = df_top10["gendr"].value_counts(dropna=False)
    g_pct = df_top10["gendr"].value_counts(normalize=True, dropna=False).mul(100).round(1)
    display(pd.DataFrame({"count": g_dist, "pct": g_pct}))
else:
    print("No existe columna 'gendr'.")

print("\n=========================")
print("3) USO (CALLS / LOGONS)")
print("=========================")

usage_cols = call_cols + logon_cols
if usage_cols:
    usage_desc = df_top10[usage_cols].describe().T
    display(usage_desc)
else:
    print("No se detectaron columnas de uso (call/logon/login).")

print("\n=========================")
print("4) CRUCE EDAD x TENURE (porcentaje dentro de los 10)")
print("=========================")

if "age_group" in df_top10.columns and "tenure_group" in df_top10.columns:
    cross = pd.crosstab(df_top10["age_group"], df_top10["tenure_group"], normalize="all").mul(100).round(1)
    display(cross)
else:
    print("Falta age_group o tenure_group para el cruce.")

# =========================
# INSIGHTS: AUTO-TEXT (resumen interpretado)
# =========================
print("\n=========================")
print("5) RESUMEN AUTOMÁTICO (texto listo)")
print("=========================")

lines = []

# Edad
if "clnt_age" in df_top10.columns:
    age_med = df_top10["clnt_age"].median()
    age_mean = df_top10["clnt_age"].mean()
    lines.append(f"- Edad: media ≈ {age_mean:.1f} años; mediana = {age_med:.1f}.")
    if "age_group" in df_top10.columns:
        top_age_group = df_top10["age_group"].value_counts().idxmax()
        lines.append(f"  Grupo de edad más frecuente: {top_age_group}.")
else:
    lines.append("- Edad: no disponible (no hay 'clnt_age').")

# Tenure
if "clnt_tenure_yr" in df_top10.columns:
    ten_med = df_top10["clnt_tenure_yr"].median()
    ten_mean = df_top10["clnt_tenure_yr"].mean()
    lines.append(f"- Antigüedad: media ≈ {ten_mean:.1f} años; mediana = {ten_med:.1f}.")
    if "tenure_group" in df_top10.columns:
        top_ten_group = df_top10["tenure_group"].value_counts().idxmax()
        lines.append(f"  Tramo de antigüedad más frecuente: {top_ten_group}.")
else:
    lines.append("- Antigüedad: no disponible (no hay 'clnt_tenure_yr').")

# Finanzas
if "bal" in df_top10.columns:
    bal_med = df_top10["bal"].median()
    bal_mean = df_top10["bal"].mean()
    lines.append(f"- Balance: media ≈ {bal_mean:,.2f}; mediana = {bal_med:,.2f}.")
else:
    lines.append("- Balance: no disponible (no hay 'bal').")

# Complejidad
if "num_accts" in df_top10.columns:
    lines.append(f"- Nº de cuentas: media ≈ {df_top10['num_accts'].mean():.1f}; mediana = {df_top10['num_accts'].median():.1f}.")
else:
    lines.append("- Nº de cuentas: no disponible (no hay 'num_accts').")

# Uso
if "usage_score" in df_top10.columns:
    lines.append(f"- Uso (usage_score): media ≈ {df_top10['usage_score'].mean():.1f}; mediana = {df_top10['usage_score'].median():.1f}.")
    if call_cols:
        lines.append(f"  Calls columns detectadas: {call_cols}")
    if logon_cols:
        lines.append(f"  Logon columns detectadas: {logon_cols}")
else:
    lines.append("- Uso: no calculado (no se detectaron columnas call/logon).")

# Nota de tamaño muestral
lines.append(f"- Nota: estos insights son exploratorios (muestra N={len(df_top10)}).")

print("\n".join(lines))

✅ Cargado: df_client_usage_head10.csv
Shape: (10, 11)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,usage_count
0,5574879,9,112,28,M,2,"18,136",7,7,NaN,111
1,2274658,5,65,34,U,2,"78,390",6,9,Control,90
2,2128341,12,153,52,F,2,"176,732",3,3,NaN,84
3,1595223,23,279,83,M,3,"1,291,698",5,8,Test,81
4,5951379,7,89,27,U,2,"34,807",6,9,Control,81

=========================
1) DESCRIPTIVOS (NUMÉRICAS)
=========================

,count,mean,std,min,25%,50%,75%,max
clnt_age,10,53,19,27,39,56,62,83
clnt_tenure_yr,10,14,8,5,8,12,20,30
clnt_tenure_mnth,10,174,98,65,95,158,244,361
num_accts,10,2,1,2,2,2,3,4
bal,10,"880,810","1,783,865","18,136","39,664","102,416","980,937","5,754,205"
usage_score,10,13,3,6,12,14,15,15

=========================
2) DISTRIBUCIÓN (EDAD / TENURE / GÉNERO)
=========================

           count  pct
age_group
51-60          4   40
60+            3   30
<=30           2   20
31-40          1   10
41-50          0    0

              count  pct
tenure_group
10y+              6   60
5-10y             3   30
3-5y              1   10
<=1y              0    0
1-3y              0    0

       count  pct
gendr
M          4   40
U          3   30
F          3   30

=========================
3) USO (CALLS / LOGONS)
=========================

               count  mean  std  min  25%  50%  75%  max
calls_6_mnth      10     5    1    3    5    6    6    7
logons_6_mnth     10     7    2    3    6    8    9    9

=========================
4) CRUCE EDAD x TENURE (porcentaje dentro de los 10)
=========================

tenure_group  3-5y  5-10y  10y+
age_group
<=30             0     20     0
31-40           10      0     0
51-60            0     10    30
60+              0      0    30

=========================
5) RESUMEN AUTOMÁTICO (texto listo)
=========================
- Edad: media ≈ 53.3 años; mediana = 56.5.
  Grupo de edad más frecuente: 51-60.
- Antigüedad: media ≈ 14.1 años; mediana = 12.5.
  Tramo de antigüedad más frecuente: 10y+.
- Balance: media ≈ 880,810.05; mediana = 102,416.32.
- Nº de cuentas: media ≈ 2.5; mediana = 2.0.
- Uso (usage_score): media ≈ 12.7; mediana = 13.5.
  Calls columns detectadas: ['calls_6_mnth']
  Logon columns detectadas: ['logons_6_mnth']
- Nota: estos insights son exploratorios (muestra N=10).

In [24]:
import pandas as pd
import numpy as np

# =========================
# CONFIG
# =========================
INPUT_PATH = "df_final_web_data.csv"          # <-- tu CSV
OUTPUT_EXCEL = "web_funnel_clean_one_sheet.xlsx"

VALID_STEPS = ["start", "step_1", "step_2", "step_3", "confirm"]
STEP_ORDER = {s: i + 1 for i, s in enumerate(VALID_STEPS)}

# =========================
# 1) Load + tipos
# =========================
df = pd.read_csv(INPUT_PATH)

# Normaliza strings
for c in ["visit_id", "process_step"]:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip()

# Parse datetime
if "date_time" not in df.columns:
    raise ValueError("No existe la columna 'date_time' en el dataset.")
df["date_time"] = pd.to_datetime(df["date_time"], errors="coerce")

# =========================
# 2) Filtros básicos (ruido obvio)
# =========================
df = df.dropna(subset=["date_time"])
df = df[df["visit_id"].notna() & (df["visit_id"].astype(str).str.len() > 0)]
df = df[df["process_step"].isin(VALID_STEPS)].copy()

df["step_order"] = df["process_step"].map(STEP_ORDER).astype(int)

# =========================
# 3) DEDUP (3 capas)
# =========================
# 3.1 exact duplicates (todas las columnas)
df = df.drop_duplicates()

# 3.2 duplicados dentro de sesión a mismo timestamp y step
df = df.drop_duplicates(subset=["visit_id", "date_time", "process_step"])

# 3.3 loops: mismo step repetido en una sesión -> nos quedamos con la PRIMERA vez
df = df.sort_values(["visit_id", "date_time", "step_order"])
df = df.drop_duplicates(subset=["visit_id", "process_step"], keep="first").copy()

# =========================
# 4) Mantener trazabilidad (orden funnel correcto)
#     step_order estrictamente creciente dentro de cada visit_id
# =========================
df["prev_step_order"] = df.groupby("visit_id")["step_order"].shift(1)
df["is_break"] = (df["prev_step_order"].notna()) & (df["step_order"] <= df["prev_step_order"])
df["bad_session"] = df.groupby("visit_id")["is_break"].transform("any")

df_clean = df[~df["bad_session"]].copy()
df_clean = df_clean.drop(columns=["prev_step_order", "is_break", "bad_session"])

# =========================
# 5) TIEMPOS ENTRE STEPS (fila a fila)
# =========================
df_clean = df_clean.sort_values(["visit_id", "date_time", "step_order"]).copy()

df_clean["prev_date_time"] = df_clean.groupby("visit_id")["date_time"].shift(1)
df_clean["time_from_prev_step_sec"] = (df_clean["date_time"] - df_clean["prev_date_time"]).dt.total_seconds()

df_clean["start_time"] = df_clean.groupby("visit_id")["date_time"].transform("min")
df_clean["time_from_start_sec"] = (df_clean["date_time"] - df_clean["start_time"]).dt.total_seconds()

# Guardrails (por si acaso)
df_clean.loc[df_clean["time_from_prev_step_sec"] < 0, "time_from_prev_step_sec"] = np.nan
df_clean.loc[df_clean["time_from_start_sec"] < 0, "time_from_start_sec"] = np.nan

# =========================
# 6) TIEMPOS POR TRAMO (resumen por sesión) + MERGE a df_clean
# =========================
step_times = (
    df_clean.pivot_table(
        index="visit_id",
        columns="process_step",
        values="date_time",
        aggfunc="min"
    )
)

session_deltas = pd.DataFrame(index=step_times.index)
for a, b in zip(VALID_STEPS[:-1], VALID_STEPS[1:]):
    session_deltas[f"sec_{a}to{b}"] = (step_times[b] - step_times[a]).dt.total_seconds()

session_deltas["sec_start_to_confirm"] = (step_times["confirm"] - step_times["start"]).dt.total_seconds()

# Guardrails no negativos
for c in session_deltas.columns:
    session_deltas.loc[session_deltas[c] < 0, c] = np.nan

session_deltas = session_deltas.reset_index()

# Merge: añade columnas de sesión a cada fila del funnel
final_df = df_clean.merge(session_deltas, on="visit_id", how="left")

# =========================
# 7) Export EXCEL (UNA SOLA HOJA)
# =========================
with pd.ExcelWriter(OUTPUT_EXCEL, engine="openpyxl") as writer:
    final_df.to_excel(writer, sheet_name="clean_funnel", index=False)

print("✅ Listo")
print(" - Filas finales:", len(final_df))
print(" - Sesiones únicas:", final_df["visit_id"].nunique())
print("💾 Excel:", OUTPUT_EXCEL)

✅ Listo
 - Filas finales: 550255
 - Sesiones únicas: 157240
💾 Excel: web_funnel_clean_one_sheet.xlsx

In [25]:
# En el fichero excel  df_master.csv tengo Variation y me la quiero traer al df_web_funnel_clean_one_sheet.xlsx para hacer análisis A/B
import pandas as pd
# Cargar los dataframes desde los archivos Excel
df_master = pd.read_csv("df_master.csv")
df_web_funnel = pd.read_excel("web_funnel_clean_one_sheet.xlsx")
# Hacer un merge para agregar la columna 'Variation' al dataframe del funnel web
df_merged = pd.merge(df_web_funnel, df_master[['client_id', 'Variation']], on='client_id', how='left')
# Guardar el dataframe resultante en un nuevo archivo Excel
df_merged.to_excel("web_funnel_with_variation.xlsx", index=False)
print("✅ Guardado: web_funnel_with_variation.xlsx")

C:\Users\pccom\AppData\Local\Temp\ipykernel_34660\1581209046.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master.csv")

✅ Guardado: web_funnel_with_variation.xlsx

In [26]:
#Métricas de rendimiento
#Tasa finalización del proceso por variación (start -> confirm)
df = pd.read_excel("web_funnel_with_variation.xlsx")
# Crear una columna que indique si la sesión llegó al paso 'confirm'
df['completed'] = df['process_step'] == 'confirm'
# Agrupar por 'Variation' y calcular las métricas
metrics = df.groupby('Variation').agg(
    total_sessions=('visit_id', 'nunique'),
    completed_sessions=('completed', 'sum')
).reset_index()
# Calcular la tasa de finalización
metrics['completion_rate'] = (metrics['completed_sessions'] / metrics['total_sessions']) * 100
# Mostrar los resultados
print(metrics)

  Variation  total_sessions  completed_sessions  completion_rate
0   Control           31929               15848               50
1      Test           36793               21507               58

In [27]:
#Métricas de rendimiento sin variacion
#Tasa finalización del proceso por variación (start -> confirm) sin tener en cuenta Variation
df = pd.read_excel("web_funnel_with_variation.xlsx")
# Crear una columna que indique si la sesión llegó al paso 'confirm'    
df['completed'] = df['process_step'] == 'confirm'
# Agrupar por 'visit_id' para obtener sesiones únicas
session_metrics = df.groupby('visit_id').agg(
    variation=('Variation', 'first'),
    completed=('completed', 'max')
).reset_index()
# Calcular las métricas generales
total_sessions = session_metrics['visit_id'].nunique()
completed_sessions = session_metrics['completed'].sum()
completion_rate = (completed_sessions / total_sessions) * 100
# Mostrar los resultados
print(f"Total sessions: {total_sessions}")
print(f"Completed sessions: {completed_sessions}")
print(f"Completion rate: {completion_rate:.2f}%")

Total sessions: 157240
Completed sessions: 89386
Completion rate: 56.85%

In [28]:
#Tiempo dedicado a cada paso sin tener en cuenta Variation usando web_funnel_with_variation.xlsx
df = pd.read_excel("web_funnel_with_variation.xlsx")
# Agrupar por 'process_step' y calcular el tiempo promedio desde el paso anterior
step_times = df.groupby('process_step')['time_from_prev_step_sec'].mean().reset_index()
# Mostrar los resultados
print(step_times)

  process_step  time_from_prev_step_sec
0      confirm                      149
1        start                      NaN
2       step_1                       55
3       step_2                       72
4       step_3                      112

In [29]:
#Tiempo dedicado a cada paso teniendo en cuenta Variation usando web_funnel_with_variation.xlsx
df = pd.read_excel("web_funnel_with_variation.xlsx")
# Agrupar por 'process_step' y 'Variation' y calcular el tiempo promedio desde el paso anterior
step_times = df.groupby(['process_step', 'Variation'])['time_from_prev_step_sec'].mean().reset_index()
# Mostrar los resultados
print(step_times)

  process_step Variation  time_from_prev_step_sec
0      confirm   Control                      170
1      confirm      Test                      144
2        start   Control                      NaN
3        start      Test                      NaN
4       step_1   Control                       65
5       step_1      Test                       53
6       step_2   Control                       50
7       step_2      Test                       76
8       step_3   Control                      112
9       step_3      Test                      108

In [30]:
# Análisis de retrocesos en el proceso (backtracking errors)
import pandas as pd
import numpy as np
INPUT_PATH = "df_final_web_data.csv"
VALID_STEPS = ["start", "step_1", "step_2", "step_3", "confirm"]
STEP_ORDER = {s: i + 1 for i, s in enumerate(VALID_STEPS)}
# =========================
# 1) Cargar "raw" y filtros mínimos (NO aplanar)
# =========================
raw = pd.read_csv(INPUT_PATH)
for c in ["visit_id", "process_step"]:
    if c in raw.columns:
        raw[c] = raw[c].astype(str).str.strip()
raw["date_time"] = pd.to_datetime(raw["date_time"], errors="coerce")
raw = raw.dropna(subset=["date_time"])
raw = raw[raw["visit_id"].notna() & (raw["visit_id"].astype(str).str.len() > 0)]
raw = raw[raw["process_step"].isin(VALID_STEPS)].copy()
raw["step_order"] = raw["process_step"].map(STEP_ORDER).astype(int)
# (Opcional) dedup SOLO de ruido "mismo timestamp mismo step" (no mata retrocesos)
raw = raw.drop_duplicates(subset=["visit_id", "date_time", "process_step"])

# =========================
# 2) Detectar retrocesos (errores)
# =========================
raw = raw.sort_values(["visit_id", "date_time", "step_order"]).copy()
raw["prev_step"] = raw.groupby("visit_id")["process_step"].shift(1)
raw["prev_order"] = raw.groupby("visit_id")["step_order"].shift(1)
# Error si el orden baja respecto al anterior
raw["is_backtrack_error"] = raw["prev_order"].notna() & (raw["step_order"] < raw["prev_order"])
# Para análisis: transición que causó el error
raw["transition"] = np.where(
    raw["prev_step"].notna(),
    raw["prev_step"].astype(str) + " -> " + raw["process_step"].astype(str),
    np.nan
)

# =========================
# 3) KPIs principales
# =========================
# Total de transiciones (cada fila excepto la primera de cada sesión)
raw["is_transition"] = raw["prev_order"].notna()
total_transitions = int(raw["is_transition"].sum())
total_errors = int(raw["is_backtrack_error"].sum())
kpi_error_rate = total_errors / total_transitions if total_transitions else np.nan
# % de sesiones con al menos un retroceso
session_has_error = raw.groupby("visit_id")["is_backtrack_error"].any()
kpi_sessions_with_error = session_has_error.mean()  # proporción
print("=== KPI Retrocesos ===")
print("Transiciones totales:", total_transitions)
print("Errores (retrocesos) :", total_errors)
print("Error rate (errores/transiciones):", round(kpi_error_rate, 4) if pd.notna(kpi_error_rate) else np.nan)
print("% sesiones con >=1 error:", round(float(kpi_sessions_with_error), 4))

# =========================
# 4) Breakdown útil
# =========================
# Errores por transición exacta (ej: step_2 -> step_1)
errors_by_transition = (
    raw.loc[raw["is_backtrack_error"], "transition"]
       .value_counts()
       .rename_axis("transition")
       .reset_index(name="n_errors")
)
# Errores "originados" desde qué step (prev_step)
errors_by_prev_step = (
    raw.loc[raw["is_backtrack_error"], "prev_step"]
       .value_counts()
       .rename_axis("prev_step")
       .reset_index(name="n_errors")
)
print("\nTop transiciones de error:")
print(errors_by_transition.head(10).to_string(index=False))
print("\nErrores por step de origen (desde dónde retroceden):")
print(errors_by_prev_step.to_string(index=False))

import pandas as pd

# ======================================================
# 5) TASA DE ERROR POR PASO (desde qué paso retroceden)
# ======================================================

# Asegurar que no haya formato global raro de floats
pd.reset_option("display.float_format")

# Solo transiciones válidas (excluye primera fila de cada sesión)
trans = raw[raw["is_transition"]].copy()

error_rate_by_prev_step = (
    trans.groupby("prev_step", dropna=False)
         .agg(
             n_transitions=("is_transition", "sum"),
             n_backtracks=("is_backtrack_error", "sum")
         )
         .assign(
             error_rate=lambda x: x["n_backtracks"] / x["n_transitions"],
             error_rate_pct=lambda x: (x["n_backtracks"] / x["n_transitions"]) * 100
         )
         .reset_index()
         .sort_values("error_rate", ascending=False)
)

print("\n=== Error rate por paso (desde prev_step) ===")
print(
    error_rate_by_prev_step.to_string(
        index=False,
        formatters={
            "error_rate": "{:.4f}".format,
            "error_rate_pct": "{:.2f}%".format
        }
    )
)

=== KPI Retrocesos ===
Transiciones totales: 586546
Errores (retrocesos) : 63545
Error rate (errores/transiciones): 0.1083
% sesiones con >=1 error: 0.2552

Top transiciones de error:
       transition  n_errors
  step_1 -> start     23560
 step_2 -> step_1     12085
 step_3 -> step_2      9373
  step_3 -> start      8278
  step_2 -> start      6005
 confirm -> start      1962
 step_3 -> step_1      1701
confirm -> step_1       563
confirm -> step_3        11
confirm -> step_2         7

Errores por step de origen (desde dónde retroceden):
prev_step  n_errors
   step_1     23560
   step_3     19352
   step_2     18090
  confirm      2543

=== Error rate por paso (desde prev_step) ===
prev_step  n_transitions  n_backtracks error_rate error_rate_pct
   step_3         103330         19352     0.1873         18.73%
  confirm          14357          2543     0.1771         17.71%
   step_1         149221         23560     0.1579         15.79%
   step_2         126819         18090     0.1426         14.26%
    start         192819             0     0.0000          0.00%

In [31]:
# Sobre el df_master.csv quiero categorizar clientes por balance en clientes "High Value" si bal > 100000, "Medium Value" si bal entre 50000 y 100000, "Low Value" si bal < 50000.
# Cargar el DataFrame maestro
df_master = pd.read_csv("df_master.csv")
# Definir función para categorizar balance
def categorize_balance(bal):
    if bal > 100000:
        return "High Value"
    elif 50000 <= bal <= 100000:
        return "Medium Value"
    else:
        return "Low Value"
# Aplicar la función para crear la nueva columna 'Value_Category'
df_master['Value_Category'] = df_master['bal'].apply(categorize_balance)
# Guardar el DataFrame actualizado en un nuevo archivo CSV
df_master.to_csv("df_master_with_value_category.csv", index=False)
print("✅ Guardado: df_master_with_value_category.csv")
#Imprime resultados de la nueva columna
print(df_master['Value_Category'].value_counts())

C:\Users\pccom\AppData\Local\Temp\ipykernel_34660\482740685.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master.csv")

✅ Guardado: df_master_with_value_category.csv
Value_Category
Low Value       27664
High Value      23927
Medium Value    19018
Name: count, dtype: int64

In [32]:
#Chequear el formato de balance en df_master.csv y ver el rango
pd.options.display.float_format = '{:,.0f}'.format
df_master = pd.read_csv("df_master.csv")
df_master['bal'] = pd.to_numeric(df_master['bal'], errors='coerce')
print("Balance - Mínimo:", df_master['bal'].min())
print("Balance - Máximo:", df_master['bal'].max())
print("Balance - Descripción estadística:")
print(df_master['bal'].describe())
#muestrame balance del client id 9693009
client_balance = df_master.loc[df_master['client_id'] == 9693009, 'bal']
print("Balance del client_id 9693009:", client_balance.values)

Balance - Mínimo: 13789.419999999998
Balance - Máximo: 16320040.15
Balance - Descripción estadística:
count       70,595
mean       147,445
std        301,509
min         13,789
25%         37,347
50%         63,333
75%        137,545
max     16,320,040
Name: bal, dtype: float64
Balance del client_id 9693009: [40193.54]

C:\Users\pccom\AppData\Local\Temp\ipykernel_34660\17189558.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master.csv")

In [33]:
# Correlacionar el balance con antiguedad(clnt_tenure_yr)
correlation = df_master['bal'].corr(df_master['clnt_tenure_yr'])
print("Correlación entre balance y antigüedad (clnt_tenure_yr):", correlation)

Correlación entre balance y antigüedad (clnt_tenure_yr): 0.20362038717514477

In [34]:
# Sobre el df_master.csv quiero categorizar clientes por balance en clientes "High Value" si bal > 100000, "Medium Value" si bal entre 50000 y 100000, "Low Value" si bal < 50000.
# Cargar el DataFrame maestro
df_master = pd.read_csv("df_master.csv")
# Definir función para categorizar balance
def categorize_balance(bal):
    if bal > 100000:
        return "High Value"
    elif 50000 <= bal <= 100000:
        return "Medium Value"
    else:
        return "Low Value"
# Aplicar la función para crear la nueva columna 'Value_Category'
df_master['Value_Category'] = df_master['bal'].apply(categorize_balance)
# Guardar el DataFrame actualizado en un nuevo archivo CSV
df_master.to_csv("df_master_with_value_category.csv", index=False)
print("✅ Guardado: df_master_with_value_category.csv")
#Imprime resultados de la nueva columna
print(df_master['Value_Category'].value_counts())

C:\Users\pccom\AppData\Local\Temp\ipykernel_34660\482740685.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master.csv")

✅ Guardado: df_master_with_value_category.csv
Value_Category
Low Value       27664
High Value      23927
Medium Value    19018
Name: count, dtype: int64

In [35]:
 # Contraste de hipótesis
# H0 (nula): la tasa de finalización del proceso es igual en Test y Control
# H1 (alternativa): la tasa de finalización del proceso es mayor en Test que en Control
from statsmodels.stats.proportion import proportions_ztest
# =========================
# 1) Cargar datos
# =========================
df = pd.read_excel("web_funnel_with_variation.xlsx")
# =========================
# 2) Definir sesión completada
# =========================
df["completed"] = df["process_step"] == "confirm"
# =========================
# 3) Métricas a nivel SESIÓN
# =========================
session_metrics = (
    df.groupby("Variation")
      .agg(
          total_sessions=("visit_id", "nunique"),
          completed_sessions=("completed", "sum")
      )
      .loc[["Test", "Control"]]   # 🔑 orden explícito
)
# =========================
# 4) Preparar datos para el test
# =========================
counts = session_metrics["completed_sessions"].values
nobs   = session_metrics["total_sessions"].values
# =========================
# 5) Test de proporciones
# =========================
z_stat, p_value = proportions_ztest(
    count=counts,
    nobs=nobs,
    alternative="larger"  # Test > Control
)
# =========================
# 6) Resultados
# =========================
print("=== Test de hipótesis: Completion Rate ===")
print(session_metrics)
print(f"\nZ-statistic: {z_stat:.3f}")
print(f"P-value: {p_value:.6f}")
alpha = 0.05
if p_value < alpha:
    print("✅ Rechazamos H0: la variación Test mejora significativamente la tasa de finalización.")
else:
    print("❌ No rechazamos H0: no hay evidencia suficiente.")

=== Test de hipótesis: Completion Rate ===
           total_sessions  completed_sessions
Variation
Test                36793               21507
Control             31929               15848

Z-statistic: 23.149
P-value: 0.000000
✅ Rechazamos H0: la variación Test mejora significativamente la tasa de finalización.

In [36]:
#Coste efectividad
import pandas as pd
import numpy as np
from math import sqrt
from scipy.stats import norm
# ============
# Load + session-level completion
# ============
df = pd.read_excel("web_funnel_with_variation.xlsx")
df["completed"] = df["process_step"] == "confirm"
session_metrics = (
    df.groupby("Variation")
      .agg(total_sessions=("visit_id", "nunique"),
           completed_sessions=("completed", "sum"))
      .loc[["Test", "Control"]]
)
n_test = int(session_metrics.loc["Test", "total_sessions"])
n_ctrl = int(session_metrics.loc["Control", "total_sessions"])
x_test = int(session_metrics.loc["Test", "completed_sessions"])
x_ctrl = int(session_metrics.loc["Control", "completed_sessions"])
p_test = x_test / n_test
p_ctrl = x_ctrl / n_ctrl
diff_abs = p_test - p_ctrl                 # diferencia absoluta (pp en decimal)
lift_rel = diff_abs / p_ctrl               # mejora relativa
# ============
# 95% CI para diff_abs (unpooled)
# ============
se_unpooled = sqrt(p_test*(1-p_test)/n_test + p_ctrl*(1-p_ctrl)/n_ctrl)
ci_low = diff_abs - 1.96 * se_unpooled
ci_high = diff_abs + 1.96 * se_unpooled
print("=== Cost-effectiveness (Completion) ===")
print(f"p_test={p_test:.4%} | p_ctrl={p_ctrl:.4%}")
print(f"Diff abs={diff_abs:.4%} (pp) | Lift rel={lift_rel:.2%}")
print(f"95% CI(diff abs)=[{ci_low:.4%}, {ci_high:.4%}]")
# ============
# A) Umbral +5 puntos porcentuales (pp)
# ============
threshold_pp = 0.05
meets_pp = diff_abs >= threshold_pp
print("\nA) Umbral +5pp:")
print("Meets threshold?:", meets_pp)
# Test one-sided contra el umbral (aprox normal):
# H0: diff_abs <= 0.05  vs  H1: diff_abs > 0.05
z_thr = (diff_abs - threshold_pp) / se_unpooled
p_thr = 1 - norm.cdf(z_thr)
print(f"Z(threshold)={z_thr:.3f} | p-value(H1: diff>0.05)={p_thr:.6f}")
# ============
# B) Umbral +5% relativo
# ============
threshold_rel = 0.05
meets_rel = lift_rel >= threshold_rel
print("\nB) Umbral +5% relativo:")
print("Meets threshold?:", meets_rel)
# ============
# Conclusión "business"
# ============
if meets_pp or meets_rel:
    print("\n✅ Conclusión negocio: la mejora observada cumple el umbral de coste-efectividad.")
else:
    print("\n❌ Conclusión negocio: la mejora observada NO cumple el umbral de coste-efectividad.")

=== Cost-effectiveness (Completion) ===
p_test=58.4541% | p_ctrl=49.6351%
Diff abs=8.8189% (pp) | Lift rel=17.77%
95% CI(diff abs)=[8.0744%, 9.5635%]

A) Umbral +5pp:
Meets threshold?: True
Z(threshold)=10.053 | p-value(H1: diff>0.05)=0.000000

B) Umbral +5% relativo:
Meets threshold?: True

✅ Conclusión negocio: la mejora observada cumple el umbral de coste-efectividad.

In [37]:
#Hipotesis adicional
# H0: la edad media de los usuarios del Test es igual a la del Control
#H1: la edad media de los usuarios del Test es distinta a la del Control
 
from scipy.stats import ttest_ind
# =========================
# 1) Cargar datasets
# =========================
df_web = pd.read_excel("web_funnel_with_variation.xlsx")
df_master = pd.read_csv("df_master_with_value_category.csv")
# =========================
# 2) Quedarse con una fila por sesión
# =========================
df_sessions = (
    df_web.drop_duplicates(subset=["visit_id"])
          .loc[:, ["visit_id", "client_id", "Variation"]]
)
# =========================
# 3) Join con master (edad)
# =========================
df_sessions = (
    df_sessions
    .merge(
        df_master[["client_id", "clnt_age"]],
        on="client_id",
        how="left"
    )
    .dropna(subset=["Variation", "clnt_age"])
)
# =========================
# 4) Separar grupos
# =========================
age_test = df_sessions[df_sessions["Variation"] == "Test"]["clnt_age"]
age_control = df_sessions[df_sessions["Variation"] == "Control"]["clnt_age"]
# =========================
# 5) Welch t-test
# =========================
t_stat, p_value = ttest_ind(
    age_test,
    age_control,
    equal_var=False,
    nan_policy="omit"
)
# =========================
# 6) Resultados
# =========================
print("=== Hipótesis adicional: Edad media ===")
print(f"Edad media Test: {age_test.mean():.2f}")
print(f"Edad media Control: {age_control.mean():.2f}")
print(f"Diferencia (Test - Control): {(age_test.mean() - age_control.mean()):.2f} años")
print(f"T-statistic: {t_stat:.3f}")
print(f"P-value: {p_value:.6f}")
alpha = 0.05
if p_value < alpha:
    print("✅ Rechazamos H0: existen diferencias significativas en la edad media entre Test y Control.")
else:
    print("❌ No rechazamos H0: no se observan diferencias significativas en la edad media.")

=== Hipótesis adicional: Edad media ===
Edad media Test: 48.57
Edad media Control: 48.72
Diferencia (Test - Control): -0.15 años
T-statistic: -1.211
P-value: 0.226078
❌ No rechazamos H0: no se observan diferencias significativas en la edad media.

C:\Users\pccom\AppData\Local\Temp\ipykernel_34660\3481004113.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master_with_value_category.csv")

In [1]:
# Las columnas que tienen puntos en vez de comas: clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth quiero que cambies comas por puntos y lo guardes como un excel
import pandas as pd
df_master = pd.read_csv("df_master_with_value_category.csv")
cols_to_fix = ["clnt_tenure_yr", "clnt_tenure_mnth", "clnt_age", "num_accts", "bal", "calls_6_mnth", "logons_6_mnth"]
for col in cols_to_fix:
    if col in df_master.columns:
        df_master[col] = df_master[col].astype(str).str.replace(',', '.', regex=False)
        df_master[col] = pd.to_numeric(df_master[col], errors='coerce')
df_master.to_excel("df_master_finalpbi.xlsx", index=False)

C:\Users\pccom\AppData\Local\Temp\ipykernel_21340\1688195525.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master = pd.read_csv("df_master_with_value_category.csv")

In [10]:
# Las columnas que tienen puntos en vez de comas: clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth quiero que cambies comas por puntos y lo guardes como un excel 
# para el fichero df_client_usage_head10.csv
import pandas as pd
df_client_usage = pd.read_csv("df_client_usage_head10.csv")
cols_to_fix = ["clnt_tenure_yr", "clnt_tenure_mnth", "clnt_age", "num_accts", "bal", "calls_6_mnth", "logons_6_mnth"]
for col in cols_to_fix:
    if col in df_client_usage.columns:
        df_client_usage[col] = df_client_usage[col].astype(str).str.replace(',', '.', regex=False)
        df_client_usage[col] = pd.to_numeric(df_client_usage[col], errors='coerce')
df_client_usage.to_excel("df_client_usage_head10_finalpbi.xlsx", index=False)